<%= form_for(@list) do |f| %>

  <% if @list.errors.any? %>
    <div id="error_explanation">
      <p class="text-error"><%="#{pluralize(@list.errors.count, 'validation error') }. Please fix #{@list.errors.count == 1 ? 'this issue' : 'these issues'} in order to save this list." %></h5>
      <ul class="text-error">
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :title, "List Title" %>
		<%= f.text_field :title, :class => "input-xxlarge" %>
	</div>
	<div class="field">
		<%= f.label :description, "List Description" %>
		<%= f.text_area :description, :row => 5, :class => "list-description" %>
	</div>
	<div id="listing-forms">
		<%= f.fields_for :listings do |ff| %> 
			<%= render :partial => 'lists/listing', :locals => {:f => ff}, :layout => false %>   
		<% end %>
	</div>
	<div class="add-repo">
		<%= link_to "Add Repository", "#", :class => "add_listing btn btn-info" %>
	</div>
	<div class="actions">
		<%= f.submit "Save List", :class => "btn btn-primary" %>
  	<%= link_to 'cancel', @list.new_record? ? :lists : :list %>
	</div>
 
	<%= f.fields_for :listings, @blank_listing, :child_index => @blank_listing.object_id do |ff| %>  
		<%= render :partial => 'lists/listing_script', :locals => {:f => ff} %>
	<% end %>  
 
<% end %>

<div class="repo-search-container">
<%= render :partial => 'repositories/search' %>
</div>



