<%= form_for(@list) do |f| %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.fields_for :listings do |ff| %> 
		<fieldset>
	 		  <%= render :partial => 'repositories/condensed', :locals => {:repository => ff.object.repository} %>  
	 		  <%= ff.hidden_field :repository_id %>
	 		  <%= ff.object.repository.full_name %>
	 		  <%= ff.text_area :commentary %>
	 		  <%= ff.text_field :ordering %>
	 		  <%= ff.hidden_field :_destroy %>
	 		  <%= link_to "delete", "#", :class => "remove_field" %>
	 		  <br/>
 		  </fieldset>
		<% end %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>