<%= form_for(@list) do |f| %>

	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "input-xxlarge" %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description, :row => 5, :class => "list-description" %>
	</div>
	<div id="listing-forms">
		<%= f.fields_for :listings do |ff| %> 
			<%= render :partial => 'lists/listing', :locals => {:f => ff}, :layout => false %>   
		<% end %>
	</div>
	<div class="add-repo">
		<%= link_to "Add Repository", "#", :class => "add_listing btn btn-info" %>
	</div>
	<div class="actions">
		<%= f.submit "Save List", :class => "btn btn-primary" %>
  	<%= link_to 'cancel', @list.new_record? ? :lists : :list %>
	</div>
 
	<%= f.fields_for :listings, @blank_listing, :child_index => @blank_listing.object_id do |ff| %>  
		<%= render :partial => 'lists/listing_script', :locals => {:f => ff} %>
	<% end %>  
 
<% end %>

<%= render :partial => 'repositories/search' %>



