<%= form_for(@list) do |f| %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.fields_for :listings do |ff| %> 
			<fieldset>
				  <% if ff.object.id == nil %>
				  <%= render :partial => 'repositories/search', :locals => {:repository => ff.object.repository}, :layout => false %>  
				  <% else %>
			 		  <%= render :partial => 'repositories/condensed', :locals => {:repository => ff.object.repository} %>  
			 		<% end %>
		 		  <%= ff.hidden_field :repository_id %>
		 		  <%= ff.object.repository.full_name %>
		 		  <%= ff.text_area :commentary %>
		 		  <%= ff.text_field :ordering %>
		 		  <%= ff.hidden_field :_destroy %>
		 		  <%= link_to "delete", "#", :class => "remove_field" %>
		 		  <br/>
	 		</fieldset>
		<% end %>
		<%= link_to_add_fields "Add Repository", f, :listings %>
		<%= link_to "Add Listing (todo)", "#", :class => "add_listing" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
 
	<%= f.fields_for :listings, @blank_listing, :child_index => @blank_listing.object_id do |ff| %>  
		<%= render :partial => 'lists/listing_script', :locals => {:f => ff} %>
	<% end %>  
 
<% end %>

