<%= form_for(@list) do |f| %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.fields_for :listings do |ff| %> 
 		  <%= ff.object.repository.gh_created_at %>  
 		  <%= render :partial => 'repositories/condensed', :locals => {:repository => ff.object.repository} %>  
 		  <%= ff.text_field :id %> 
 		  <%= ff.object.repository.full_name %>
 		  <%= ff.text_area :commentary %>
 		  <%= ff.text_field :ordering %>
 		  <br/>
		<% end %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>