<%= form_for(@list) do |f| %>

	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>
	<div id="listing-forms">
		<%= f.fields_for :listings do |ff| %> 
			<%= render :partial => 'lists/listing', :locals => {:f => ff}, :layout => false %>   
		<% end %>
	</div>
	<div>
		<%= link_to "Add Repository", "#", :class => "add_listing" %>
	</div>
	<div class="actions">
		<%= f.submit "Save List" %>
  	<%= link_to 'cancel', @list.new_record? ? :lists : :list %>
	</div>
 
	<%= f.fields_for :listings, @blank_listing, :child_index => @blank_listing.object_id do |ff| %>  
		<%= render :partial => 'lists/listing_script', :locals => {:f => ff} %>
	<% end %>  
 
<% end %>

<%= render :partial => 'repositories/search' %>



