<h3>All Lists</h3>

<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Created At</th>
			<th>Updated At</th>
			<th>Repository Count</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
	<% @lists.each do |list| %>
		<tr>
			<td><%= link_to list.id, list %></td>
			<td><%= list.title %></td>
			<td><%= list.created_at %></td>
			<td><%= list.updated_at %></td>
			<td>todo</td>
			<td>todo</td>			
		</tr>  
	<% end %>
	</tbody>
</table>
<br/>
<%= link_to "new list", new_list_path %>
