<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<div class="record-detail">
	<div class="name-value">
		<label>ID</label>
		<p><%=@list.id %></p>
	</div>
	<div class="name-value">
		<label>Title</label>
		<p><%=@list.title %></p>
	</div>
	<div class="name-value">
		<label>Description</label>
		<p><%=@list.description %></p>
	</div>
	<div class="name-value">
		<label>Created At</label>
		<p><%=@list.created_at %> <%= "#{distance_of_time_in_words_to_now @list.created_at} ago" %> </p>
	</div>
	<div class="name-value">
		<label>Update At</label>
		<p><%=@list.updated_at %> <%= "#{distance_of_time_in_words_to_now @list.updated_at} ago"  %> </p>
	</div>
</div>

<div>
  <% @list.listings.each do |listing| %> 
    <%= render :partial => 'listing/listing_detail', :locals => {:listing => listing, :repository => listing.repository} %>
  <% end %>
</div>

<%= link_to "edit", edit_list_path, :class => "btn btn-primary"  %>
<br/>
<br/>
<%= link_to "all lists", lists_path, :class => "btn btn-info" %>
<br/>
<br/>
<br/>

