<div class="header-group">
	<div class="header">
		<div class="title">
			<h3><%=@list.title %></h3>
			<p>by <strong><%=@list.user.name %></strong></p>
		</div>
		<div class="repo-update-ago">
			<small>updated<br/><%= " #{distance_of_time_in_words_to_now @list.updated_at} ago" %></small>
		</div>
	</div>
	<div>
		<% if flash[:notice] %>
			<p class="text-success"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
			<p class="text-error"><%= flash[:alert] %></p>
		<% end %>
	</div>
	<div class="header">
		<div class="description">
			<p><%=@list.description %></p>
		</div>
		<div class="repository-count">
			<p><strong><%= "#{@list.listings.count} "%></strong><%="repositor#{@list.listings.count == 1 ? 'y' : 'ies'}" %>  </p>
		</div>
	</div>
</div>

<!-- todo: why call this repo-condensed? -->
<table class="table repo-condensed"> 
  <% @list.listings.each do |listing| %> 
    <%= render :partial => 'listings/show', :locals => {:listing => listing, :repository => listing.repository} %>
  <% end %> 
</table>

<div class="nav-actions">
	<% if current_user && authorized_owner?(@list) %>
		<%= link_to "edit", edit_list_path, :class => "btn btn-primary"  %>
		<br/>
		<br/>
	<% end %>
	<% if current_user %>
		<%= link_to "lists by #{current_user.name}", lists_path %>
	<% end %>
	<%= link_to "all lists", all_lists_path %>
</div>
<br/>
<br/>
<br/>
