<!-- <table class="table table-bordered repo-condensed"> -->
	<thead>
		<tr> 
			<th>Repository</th>
			<th>Watchers</th>
			<th>Forks</th>
			<th>Network</th>
			<th>Open Issues</th>
			<th>Language</th>
			<th>Last Updated</th>
			<th>Created</th> 
		</tr>
	</thead>
	<tbody>
		<tr> 
			<td class=""> 
				<%= link_to repository.full_name, repository.html_url %>
			</td>
			<td class="numeric">
				<%= number_with_delimiter repository.watchers_count %>
			</td>
			<td class="numeric">
				<%= number_with_delimiter repository.forks_count %>
			</td>
			<td class="numeric">
				<%= number_with_delimiter repository.open_issues_count %>
			</td>
			<td class="numeric">
				<%= number_with_delimiter repository.network_count %>
			</td>
			<td class="">
				<%= repository.language %>
			</td>  
			<td class="">
				<%= "#{distance_of_time_in_words_to_now repository.gh_updated_at} ago " %>
			</td>
			<td class="">
				<%= "#{distance_of_time_in_words_to_now repository.gh_created_at} ago " %>
			</td> 
		</tr>
	</tbody>
	<thead>
		<tr> 
			<th colspan="9">Repository Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="9">
				<%= repository.description %>
			</td>
		</tr>
	</tbody>
<!-- </table> -->
