<table>
	<td class="">
		<%= repository.github_id %>
	</td>
	<td class="">
		<%= repository.owner_login %>
	</td>
	<td class="">
		<%= repository.name %>
	</td>
	<td class="">
		<%= repository.full_name %>
	</td>
	<td class="">
		<%= repository.gh_created_at %>
	</td>
	<td class="">
		<%= repository.gh_updated_at %>
	</td>
	<td class="">
		<%= repository.pushed_at %>
	</td>
	<td class="">
		<%= repository.watchers_count %>
	</td>
	<td class="">
		<%= repository.open_issues_count %>
	</td>
	<td class="">
		<%= repository.network_count %>
	</td>
	<td class="">
		<%= repository.language %>
	</td>
	<td class="">
		<%= repository.description %>
	</td>
	<td class="">
		<%= repository.clone_url %>
	</td>
	<td class="">
		<%= repository.html_url %>
	</td>
</table>
