<div class="record-detail">
	<div>
		<label>Github ID</label>
		<p><%=@repository.github_id %></p>
	</div>
	<div>
		<label>Owner Login</label>
		<p><%=@repository.owner_login %></p>
	</div>
	<div>
		<label>Name</label>
		<p><%=@repository.name %></p>
	</div>
	<div>
		<label>Full Name</label>
		<p><%=@repository.full_name %></p>
	</div>
	<div>
		<label>GitHub Created At</label>
		<p><%=@repository.gh_created_at.localtime.strftime "%b %-d %Y %l:%M %p" %></p>
	</div>
	<div>
		<label>GitHub Updated At</label>
		<p><%=@repository.gh_updated_at.localtime.strftime "%b %-d %Y %l:%M %p" %></p>
	</div>
	<div>
		<label>GitHub Pushed At</label>
		<p><%=@repository.pushed_at.localtime.strftime "%b %-d %Y %l:%M %p" %></p>
	</div>
	<div>
		<label>Watchers Count</label>
		<p><%= number_with_delimiter @repository.watchers_count %></p>
	</div>
	<div>
		<label>Forks Count</label>
		<p><%= number_with_delimiter @repository.forks_count %></p>
	</div>
	<div>
		<label>Open Issues Count</label>
		<p><%= number_with_delimiter @repository.open_issues_count %></p>
	</div>
	<div>
		<label>Network Count</label>
		<p><%= number_with_delimiter @repository.network_count %></p>
	</div>
	<div>
		<label>Language</label>
		<p><%=@repository.language %></p>
	</div>
	<div>
		<label>Description</label>
		<p><%=@repository.description %></p>
	</div>
	<div>
		<label>Clone URL</label>
		<p><%=@repository.clone_url %></p>
	</div>
	<div>
		<label>HTML URL</label>
		<p><%= link_to @repository.html_url, @repository.html_url %></p>
	</div>
	<div>
		<label>RepoDepot Retrieved At</label>
		<p><%=@repository.created_at.localtime.strftime "%b %-d %Y %l:%M %p" %></p>
	</div>
</div>