	  <tr>
	  	<td><%= link_to repo.id, repo %></td>
	  	<td><%= repo.full_name %></td>
	  	<td><%= repo.gh_created_at %></td>
	  	<td><%= repo.gh_updated_at %></td>
	  	<td><%= repo.watchers_count %></td>
	  	<td><%= repo.forks_count %></td>
	  	<td><%= repo.open_issues_count %></td>
	  	<td><%= repo.network_count %></td>
	  	<td><%= repo.language %></td>
	  </tr>