<div class="repository-search invisible-ui">
	<%= form_tag lookup_repositories_path, {:remote => true, :format => :js, :class => "form-inline"} do %>
 
	    <%= label_tag "GitHub Respository ", "GitHub Respository" %><br/>
	    <%= text_field_tag "full_repo_name", "", :class => "input-xxlarge" %>
	    <%= submit_tag "add repo", :class => "btn" %> 
	    <small><%= link_to "cancel", "#", :class => "cancel-repo-search" %></small>
	    <br />
	    <small class="muted">Examples:</br>twitter/bootstrap</br>https://github.com/twitter/bootstrap</small>
	<% end %>
</div>