 
<%= form_for(repository, :url => { :controller => "repositories", :action => "lookup", :format => "js"}, :remote => true) do |f| %>

  <div class="field">
    <%= f.label :owner_login %><br />
    <%= f.text_field :owner_login %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions repo-search">
    <%= f.submit "search" %>
  </div>

<% end %>

