<h1>Repositories#index</h1>
<p>Find me in app/views/repositories/index.html.erb</p>

<table>
	<thead>
		<th>Id</th>
		<th>Repository</th>
		<th>Github Created At</th>
		<th>Github Updated At</th>
		<th>Github Posted At</th>
		<th>Watchers</th>
		<th>Forks</th>
		<th>Open Issues</th>
		<th>Network Count</th>
		<th>Language</th>
	</thead>
	<tbody>
	<% @repositories.each do |repo| %>
	  <tr>
	  	<td><%= link_to repo.id, repo, {:remote => true} %></td>
	  	<td><%= repo.full_name %></td>
	  	<td><%= repo.gh_created_at %></td>
	  	<td><%= repo.gh_updated_at %></td>
	  	<td><%= repo.pushed_at %></td>
	  	<td><%= repo.watchers_count %></td>
	  	<td><%= repo.forks_count %></td>
	  	<td><%= repo.open_issues_count %></td>
	  	<td><%= repo.network_count %></td>
	  	<td><%= repo.language %></td>
	  </tr>
	<% end %>
	</tbody>
</table>
