			<fieldset id="<%= f.object.object_id %>" data-id="<%= f.object.object_id %>">
					<% if f.object.repository != nil %>
					 	<table class="table table-bordered repo-condensed">
		 		  		<%= render :partial => 'repositories/tabular', :locals => {:repository => f.object.repository} %>  
		 		  		</tbody>
		 		  	</table>
		 		  <% else %>
		 		  	<div id="placeholder<%= f.object.object_id %>"></div>
		 		  <% end %>
		 		  <%= f.hidden_field :repository_id %> 
		 		  <div class="commentary-text-area-container">
						<div class="triangle-isosceles top">
			 		  	<%= f.text_area :commentary, :class => :commentary %>
				 		  <%= f.hidden_field :_destroy, :class => "destroy" %>
				 		  <%= link_to "delete", "#", :class => "remove_field btn btn-danger btn-mini" %>
			 		  </div>
			 		</div>
		 		  <%= f.hidden_field :ordering, :class => "ordering input-mini" %>
		 		  <br/>
	 		</fieldset>