<h1>Repo Depot</h1>
<p>"Twitter lists for GitHub repositories"</p>

<%= link_to "lists", :lists %>
<br/>
<%= link_to "repositories", :repositories %>
<br/>
<br/>
<% #if flash[:notice] %>
	<p class="text-success"><%= flash[:notice] %></p>
<% #end %>
<% #if flash[:error] %>
	<p class="text-error"><%= flash[:alert] %></p>
<% # end %>
<br/>
<br/>
<% if current_user %>
	Logged in as <%= current_user.name %>
	<%= link_to "log out", logout_path %>
<% else %>
	<%= link_to "log in with GitHub", "/auth/github" %>
<% end %>
<br/>
<br/>
