<h1>Repo Depot</h1>
<h2 class="app-subtitle"><small>&#8220;Twitter lists for GitHub repositories&#8221;</small></h2>

<br/>

<p>
	Compare similar libraries...
	<br/>
	<%= link_to @throwdown_list.title, @throwdown_list %>
	<br/>
	<%= pluralize(@throwdown_list.repositories.count, "repository") %>
</p>

<p>
	Document the stack of an application...
	<br/>
	<%= link_to @trello_list.title, @trello_list %>
	<br/>
	<%= pluralize(@trello_list.repositories.count, "repository") %>
</p>


<p>
	See example usages of an API...
	<br/>
	<%= link_to @github_api_list.title, @github_api_list %>
	<br/>
	<%= pluralize(@github_api_list.repositories.count, "repository") %>
</p>


<% if current_user %>
	<%= link_to "lists", lists_path %>
<% else %>
	<%= link_to "lists", all_lists_path %>
<% end %>

<br/>
<br/>
<br/>
